body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://media.giphy.com/media/LAsvbjyumSIz67f40e/giphy.gif?cid=790b76117na1uwbmoembi1cc75ax525f1ps55oiu3alh9h5b&ep=v1_gifs_search&rid=giphy.gif&ct=g');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  text-align: center; 
}


.App {
  text-align: center;
}

header {
  background-color: #333;
  padding: 1em;
  color: white;
}

section {
  margin: 20px auto; 
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; 
}

h2 {
  color: #333;
}

p, ul {
  text-align: center; 
  margin: 10px 0;
}
